<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Hands-on Lab : Web Scraping**

Estimated time needed: **30 to 45** minutes

## Objectives

In this lab you will perform the following:

-   Extract information from a given web site 
-   Write the scraped data into a csv file.

## Extract information from the given web site

You will extract the data from the below web site: <br>

In [1]:
url="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

The data you need to scrape is the **name of the programming language** and **average annual salary**.<br> It is a good idea to open the url in your web broswer and study the contents of the web page before you start to scrape.

Import the required libraries

In [2]:
# Your code here
import pandas as pd
import requests
from bs4 import BeautifulSoup

Download the webpage at the url

In [3]:
#your code goes here
data=requests.get(url).text

Create a soup object

In [4]:
#your code goes here
soup=BeautifulSoup(data, "html.parser")

In [6]:
tag_object=soup.table
print("tag_object", tag_object)

tag_object <table>
<tbody>
<tr>
<td>No.</td>
<td>Language</td>
<td>Created By</td>
<td>Average Annual Salary</td>
<td>Learning Difficulty</td>
</tr>
<tr>
<td>1</td>
<td>Python</td>
<td>Guido van Rossum</td>
<td>$114,383</td>
<td>Easy</td>
</tr>
<tr>
<td>2</td>
<td>Java</td>
<td>James Gosling</td>
<td>$101,013</td>
<td>Easy</td>
</tr>
<tr>
<td>3</td>
<td>R</td>
<td>Robert Gentleman, Ross Ihaka</td>
<td>$92,037</td>
<td>Hard</td>
</tr>
<tr>
<td>4</td>
<td>Javascript</td>
<td>Netscape</td>
<td>$110,981</td>
<td>Easy</td>
</tr>
<tr>
<td>5</td>
<td>Swift</td>
<td>Apple</td>
<td>$130,801</td>
<td>Easy</td>
</tr>
<tr>
<td>6</td>
<td>C++</td>
<td>Bjarne Stroustrup</td>
<td>$113,865</td>
<td>Hard</td>
</tr>
<tr>
<td>7</td>
<td>C#</td>
<td>Microsoft</td>
<td>$88,726</td>
<td>Hard</td>
</tr>
<tr>
<td>8</td>
<td>PHP</td>
<td>Rasmus Lerdorf</td>
<td>$84,727</td>
<td>Easy</td>
</tr>
<tr>
<td>9</td>
<td>SQL</td>
<td>Donald D. Chamberlin, Raymond F. Boyce.</td>
<td>$84,793</td>
<td>Easy</td>
</tr>
<tr>
<td>10</td>
<td>Go</td>
<td>Robert Griesemer, Ken Thompson, Rob Pike.</td>
<td>$94,082</td>
<td>Difficult</td>
</tr>
</tbody>
</table>

Scrape the `Language name`, `Created By` `annual average salary`and `Learning Difficulty`.

In [12]:
#your code goes here

Create a _dataframe_ for scrapped data

In [13]:
#your code goes here
table = soup.find('table')
for row in table.find_all('tr'): 
    # Get all columns in each row.
    cols = row.find_all('td') 
    lang_name = cols[1].getText() 
    created_by=cols[2].getText()
    annual_avg_sal = cols[3].getText() 
    learning=cols[4].getText()
    print("{}--->{}--->{}--->{}".format(lang_name,created_by,annual_avg_sal,learning))

table = soup.find('table')
table_rows = table.find_all('tr')
l = []
for tr in table_rows:
    td = tr.find_all('td')
    row = [tr.text for tr in td]
    l.append(row)
df=pd.DataFrame(l, columns=["No.","Language","Created By","Average Annual Salary","Learning Difficulty"])
df.drop(df.head(1).index, inplace=True)
df

Language--->Created By--->Average Annual Salary--->Learning Difficulty
Python--->Guido van Rossum--->$114,383--->Easy
Java--->James Gosling--->$101,013--->Easy
R--->Robert Gentleman, Ross Ihaka--->$92,037--->Hard
Javascript--->Netscape--->$110,981--->Easy
Swift--->Apple--->$130,801--->Easy
C++--->Bjarne Stroustrup--->$113,865--->Hard
C#--->Microsoft--->$88,726--->Hard
PHP--->Rasmus Lerdorf--->$84,727--->Easy
SQL--->Donald D. Chamberlin, Raymond F. Boyce.--->$84,793--->Easy
Go--->Robert Griesemer, Ken Thompson, Rob Pike.--->$94,082--->Difficult

,No.,Language,Created By,Average Annual Salary,Learning Difficulty
1,1,Python,Guido van Rossum,"$114,383",Easy
2,2,Java,James Gosling,"$101,013",Easy
3,3,R,"Robert Gentleman, Ross Ihaka","$92,037",Hard
4,4,Javascript,Netscape,"$110,981",Easy
5,5,Swift,Apple,"$130,801",Easy
6,6,C++,Bjarne Stroustrup,"$113,865",Hard
7,7,C#,Microsoft,"$88,726",Hard
8,8,PHP,Rasmus Lerdorf,"$84,727",Easy
9,9,SQL,"Donald D. Chamberlin, Raymond F. Boyce.","$84,793",Easy
10,10,Go,"Robert Griesemer, Ken Thompson, Rob Pike.","$94,082",Difficult

In [14]:
# your code goes here
df.to_csv('popular-languages.csv', index=False)

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright Â© 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2023-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).